<html>
    <head>
          <%- include('partials/header1.ejs')%>
        <link rel="stylesheet" href="public/css/styles.css">
    </head>
    <body>
        <%- include('partials/navbar1.ejs')%>
        <div class="container">
        <h1 style="font-size:60px;"> This is My Recipe</h1>
        <form>
            <input type="text" id="seatch-input" placeholder="Search by name " required
            />

            <button type="submit" id="Search-button">Search</button>
        </form>
        <p>
            Reflecting on the profound connection between food and memories
        </p>
        <h4> <a href="Recipe">Recipe</a></h4>
    </body>
</html>
